---
const currentYear = new Date().getFullYear();
---

<footer class="bg-black-200 text-white-200 py-5">
    <div class="container text-center">
        Copyright © {currentYear} AION Media Group
    </div>
</footer>
